:root {
  --primary: #242582;
  --secondary: #2f2fa2;
  --tartiary: #f64c72;
  --special: #553d67;
  --unique: #99738e;
}
/* 
body {
  min-height: 100vh;
  max-width: 100vw;
  margin: 0;
  overflow: hidden;
} */
.mobile-nav {
  position: -webkit-sticky; /* Safari */
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@media (max-width: 980px) {
  .sidebar {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 1000;
  }
}

.active {
  /* transform: translate(50%, 50%); */
  left: 0%;
}
